@layer reset, base, components;

@import url('normalize.css') layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap') layer(base);

@layer reset {
    :root {
        --primary: #07755D;
        --secondary: #59bc1c;
        --denied: #ff8686;
        --text: #515959;
        --border: #59de0c;
        --text--card: #fff;
    }
    .main {
        display: flow-root;
    }
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: var(--text);
    }
    .card {
        max-width: 22em;
        margin: 1rem; /* without scaling */
        padding: 1em;
        display: inline-block;
        vertical-align: top;
    }
}

@layer components {
    /* todo components */
    p {
        margin: 0;
    }

    .card--marketer {
        border: 1px solid grey;
        border-radius: 10px;
        
    }

    .card__header {
        margin-bottom: 2em ;
    }

    .card__title {
        color: var(--secondary);
        font-size: 2em;
        font-weight: bold;
        padding-bottom: 0.75em;
        padding-left: 0.75em;
    }

    .card__description {
        font-weight: 500;
         padding-left: 1.5em;
    }

    .card__info {
        padding-bottom: 0.25em;
        font-weight: 500;
        padding-left: 1.5em;
    }

    .card__info2 {
        padding-bottom: 1.5em;
        font-weight: 500;
        margin-left: 1.5em;
    }

    .card__button {
        background-color:#07755D;
        border-radius: 5px;
        color: var(--text--card);
        text-align: center;
        padding: 1em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

    .button__text {
        color: #fff;
        text-decoration: none;
    }

    .card__main {
        margin-bottom: 2em;
    }

     li {
        padding: 5px;
        font-size: 1em;
        color: var(--text);
        font-weight: 400;
    }

    a {
        color: var(--primary);
    }

    strong {
        color: #07755D;
        font-size: large;
       
    }

    small {
        color: #07755D;
       font-weight: bold;
    }
    ul {
        list-style-image: url(../images/check.svg)
    }
    .cross {
        list-style-image: url(../images/cross.svg);
    }
    .small {
        font-size: smaller;
        color: var(--primary)
    }
    .card--bussiness {
        border: 2px solid gray;
        border-radius: 10px;
    }
    .card--dark {
        background-color: #515959;
        width: 500px;
        display: inline-block;
    }
    .header__black {
        padding: 1em;
        text-align: center;
        
    }
    .main__black {
        padding-top: 5em;
        padding-bottom: 5em;
        background-color: gray;
        margin-top: 3em;
        margin-bottom: 3em;
        margin-left: 4em;
        margin-right: 4em;
        border-radius: 10px;
        text-align: center;
        
    }
    .footer__black {
        padding: 1em;
        text-align: center;
    }
    .text__dark {
        color: #fff;
        text-align: center;
        font-size: 1em;
       padding-bottom: 1em;
        border-radius: 10px;
    }
   .img__black {
    text-align: center;
   }
   .normal {
    color: #fff;
   }
   .lorem {
    color: var(--text);
    padding-bottom: 2em;
   }
   .button__dark {
    color: #fff;
    padding: 1em 3em;
    text-decoration: none;
    background-color: darkgray;
    border-radius: 10px;
   }


   .card--figma {
    background-color: #07755D;
    border: 20px #515959;
   }
   .heading {
    text-align: center;
    display: inline-block;
    vertical-align: top;

   } 
   .heading__h1 {
    text-align: center;
    margin: 1em;
    display: inline-block;
    
   }
   .text__text {
    margin-top: 1em;
    display: inline;
    color: #fff;
    font-size: large;
    font-weight: 500;
   }
   .a__heading {
    background-color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: larger;
    border-radius: 10px;
    padding: 0.5em;
   }
   .main__text {
    text-align: center;
    background-color: blue ;
    color: #fff;
   }
   .img__figma {
   display: inline-block;
   width: 100px;
   }
   .header__container {
    display: block;
    margin-left: 6.5em;
   }
   .header__div {
    display: inline-block;
    margin: 2em;
   }
   .ctyruhelnik {
    width: 12em;
    padding-top: 2em;
    padding-bottom: 2em;
     background-color: red;
   }
   .ctyruhelnik--modry {
    background-color: aqua;
    display: inline-block;
    margin-bottom: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
   }
   .img__figma {
    margin-bottom: 2em;
   }
   .main__figma {
    text-align: center;
   }
 .footer__figma {
    text-align: center;
 }
}